* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5;
    background: url(./img/background.jpg) no-repeat center center fixed;
    background-size: contain;
}

img {
    margin-top: 12rem;
}